main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
}
.text {
    width: 80%;
}
.text h2 {
    margin: 30px 0px 30px 0px;
    font-size: 4rem;
}
.text p {
    margin-bottom: 15px;
    font-size: 1.7rem;
    text-align: justify;
}